@media (max-width:620px){
    main{
        padding: 0 15px;
        gap: 10px;
    }
    button{
        width:30px;
        height: 30px;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cartoes{
        height:450px;
    }
    .pokemon{
        max-height: 230px;
        padding: 20px;
    }
    .informacao-cartao h2{
        max-width: 50%;
        font-size: 18px;
    }
    .descricao-cartao h3{
        font-family: 14px;
    }
}